/*ECU Fitness Connection Stylesheet*/
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  position: relative;
  top: 0;
  background: #ffffff;
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
}

.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 134px;
}

div.left-nav {
  width: 37.225%;
}

.left-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0px;
}

.left-nav li {
    padding: 1em 3em 0 0;
}

li {
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
}

li a {
    text-decoration: none;
    color: #000000;
}

div.right-nav {
  width: 37.225%;
}

.right-nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0px;
}

.right-nav li {
    padding: 1em 0 0 3em;
}

div.logo-holder {
  width: 25.55%;
  z-index: 9999;
  height: auto;
}

.logo-holder img {
  width: 100%;
}

.header-image img {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: block;
}
main h3 {
    padding: 0 2em 0 2em;

}


section {
  width: 100%;
}

.row_1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.row_2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.row_1_nutrition {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5% 0 5% 0;
  border-bottom: .075em solid #572a89;
}

.row_2_nutrition {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5% 0 5% 0;
  border-bottom: .075em solid #572a89;
}

.row_3_nutrition {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5% 0 5% 0;
  border-bottom: .075em solid #572a89;
}

.row_4_nutrition {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5% 0 5% 0;
}

.column_1 {
  width: 100%;
  height: auto;
  background-image: url(../images/Homepage_BackgroundImage_Left-2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.column_2 {
    width: 100%;
    height: auto;
    background-image: url(../images/Homepage_BackgroundImage_Right-2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.inner_col_image {
  width:50%;
}

.inner_col_image img {
  width:100%;
  margin: 8% 0 2% 0;
}

#workouts {
  padding: 3% 0 1% 0;
  width: 50%;
  border-right:.5em solid #f1f1f1;
  display: flex;
  justify-content: center;
}

#nutrition {
  padding: 3% 0 1% 0;
  width: 50%;
  border-left:.5em solid #f1f1f1;
  display: flex;
  justify-content: center;
}

#healthy_living {
  padding: 1% 0 5% 0;
  width: 50%;
  border-right:.5em solid #f1f1f1;
  display: flex;
  justify-content: center;
}

#about_us {
  padding: 1% 0 5% 0;
  width: 50%;
  border-left:.5em solid #f1f1f1;
  display: flex;
  justify-content: center;
}

img {
 margin: 0;
 padding: 0;
}

figure {
  padding: 0;
  margin: auto;
  width: 100%;
}

figcaption {
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-size: 1.25em;
  margin-bottom: 8%;
}

.article-text-right {
  box-sizing: border-box;
  width: 48%;
  padding: 0 10% 0 2%;
}

.article-image-left {
  box-sizing: border-box;
  width: 52%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 0 7%;
  align-items: flex-start;
}

.article-text-left {
  box-sizing: border-box;
  width: 48%;
  padding: 0 0 0 10%;
}

.article-image-right {
  box-sizing: border-box;
  width: 52%;
  display: flex;
  justify-content: flex-start;
  padding: 0 7% 0 2%;
  align-items: flex-start;
}

.article-image-left img, .article-image-right img {
  box-sizing: border-box;
  border:2em solid #f1f1f1;
  width: 100%;
}

.article-text-left h1, .article-text-right h1, h1.about-us-headline{
  font-family: 'Bevan', cursive;
  margin:0px;
  padding:0px;
  font-size: 2.5em;
  color: #572a89;
  text-shadow: .05em .05em #b3b3b3;
}

.article-text-left h2, .article-text-right h2 {
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  margin: 0;
  padding: 5% 0 0 0;
}

h3.about-us-subhead {
  font-family: 'Rokkitt', serif;
  font-size: 1.5em;
  margin: 0;
  padding: 1% 0 0 0;
}

.article-text-left p, .article-text-right p, p.about-us-bio {
  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 2% 0 0 0;
}

#mobile_menu {
	display: none;
}

#nav_menu {
	display: none;
}

.row_1 a, .row_2 a  {
  text-decoration: none;
  color: #000000;
}

.readmore a {
  text-decoration: none;
  color: #572a89;
}

 img.circle-left {
	float: left;
	height: 15em;
	width: 15em;
	shape-outside: circle(50%);
  padding: 0 2% 2% 0;
  display: block;
  box-sizing: border-box;
}

article.about-us-article {
  padding: 4% 2% 6% 2%;
  box-sizing: border-box;
  border-bottom: .075em solid #572a89;
  width: 80%;
  margin:auto;
}

article.about-us-article-last {
  padding: 4% 2% 7% 2%;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}

footer {
  background-color: #d7d7d7;
  min-height: 10%;
  padding: 2%;
  text-align: right;
  font-family: 'Rokkitt', serif;
  font-size: .8em;
}

@media only screen and (max-width: 1200px) {

  li {
    font-family: 'Rokkitt', serif;
    font-size: 1.25em;
  }

  .article-image-left img, .article-image-right img {
    border:1.5em solid #f1f1f1;
  }

}

@media only screen and (max-width: 899px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
    max-height: 135px;
    width: auto;
	}

  .slicknav_menu {
    position: relative !important;
    box-sizing: border-box !important;
}

  .slicknav_nav ul, .slicknav_nav li {
    overflow: visible !important;
}

  .slicknav_nav a {
    padding: .5em 0 .5em 0 !important;
    margin: 0 !important;
  }

  #left_nav {
		display: none;
	}

  #right_nav {
		display: none;
	}

  li {
    font-family: 'Rokkitt', serif;
    font-size: 1.25em;
  }

  .row_1, .row_2, .column_1, .column_2, #workouts, #nutrition, #healthy_living, #about_us{
    flex-direction:column;
    width: 100%;
    border: none;
    margin: 2% 0 2% 0;
    padding: 0px;
  }

  .row_1_workouts, .row_2_workouts, .row_3_workouts, .article-text-left, .article-image-left, .article-text-right, .article-image-right, .row_1_nutrition, .row_2_nutrition, .row_3_nutrition, .row_4_nutrition {
    margin:0;
    padding: 0;
    flex-direction:column;
    justify-content: center;
  }

  .row_1_workouts, .row_2_workouts, .row_3_workouts, .row_1_nutrition, .row_2_nutrition, .row_3_nutrition, .row_4_nutrition {
    padding: 5% 2% 5% 2%;
    width: 100%;
  }

  .article-text-left, .article-image-left, .article-text-right, .article-image-right {
    width: 100%;
    padding: 2% 2% 2% 2%;
  }

  .article-image-left img, .article-image-right img {
    border:1em solid #f1f1f1;
  }

  .article-text-left h1, .article-text-right h1, h1.about-us-headline{
    margin:2% 0 0 0;
    padding:0;
    font-size: 2em;
    line-height: 1.25em;
  }

  .row_2_workouts .article-text-left {
    order: 2;
  }

  .row_2_workouts .article-image-right {
    order: 1;
  }

  .row_2_nutrition .article-text-left {
    order: 2;
  }

  .row_2_nutrition .article-image-right {
    order: 1;
  }

  .row_4_nutrition .article-text-left {
    order: 2;
  }

  .row_4_nutrition .article-image-right {
    order: 1;
  }

  .article-text-left h2, .article-text-right h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 2% 0 0 0;
  }

  .article-text-left p, .article-text-right p, p.about-us-bio {
    margin: 0;
    padding: 2% 0 0 0;
  }

  h3.about-us-subhead {
    font-size: 1.25em;
    margin: 0;
    padding: 1% 0 0 0;
  }

  h3.nutrition_description {
    font-size: 1.25em;
    margin: 0;
    padding: 1% 0 0 0;
  }

}

@media only screen and (max-width: 768px) {
	.main-nav {height: 100px;}

  #mobile_menu {
    max-height: 100px;
    width: auto;
  }

  li {
    font-family: 'Rokkitt', serif;
    font-size: 1em;
  }

}

@media only screen and (max-width: 600px) {
	.main-nav {height: 75px;}

  #mobile_menu {
    max-height: 75px;
    width: auto;
  }

  li {
    font-family: 'Rokkitt', serif;
    font-size: .85em;
  }

  .column_1 {
    background-image: none;
    background-color: #f1f1f1;
  }

  .column_2 {
    background-image: none;
    background-color: #f1f1f1;
  }

}

@media only screen and (max-width: 535px) {

  img.circle-left {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 55%;
  }

}

@media only screen and (max-width: 320px) {
	.main-nav {height: 35px;}

  #mobile_menu {
    max-height: 35px;
    width: auto;
  }

  li {
    font-family: 'Rokkitt', serif;
    font-size: 1em;
  }

  .article-text-left h1, .article-text-right h1, h1.about-us-headline{
    margin:2% 0 0 0;
    padding:0;
    font-size: 1.75em;
    line-height: 1.25em;
  }

  .article-text-left h2, .article-text-right h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 2% 0 0 0;
  }

  .article-text-left p, .article-text-right p, p.about-us-bio {
    margin: 0;
    padding: 2% 0 0 0;
    font-size: .8em;
  }

  h3.about-us-subhead {
    font-size: 1em;
    margin: 0;
    padding: 1% 0 0 0;
  }

}

.nav a.active {
    border-bottom: .35em solid #e2e2e2;
}
